h1{
  color: #00DDFF;
  text-decoration: underline;
  text-align: center;
}

#panel-clear{
  position: absolute;
  right: calc(50% - 70px);
  width: 140px;
  top: 70px;
  border: none;
  color: white;
  font-size: 15px;
}

.query-list-container{
  margin-top: 50px;
}

.query-list-title{
  color: #00DDFF;
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.query-text{
  font-weight: bold;
  font-size: 17px;
}

.params-title{
  list-style-type: none;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.response-title{
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

.json-wrapper{
  height: 248px;
  overflow: scroll;
  width: 90%;
  margin-left: 2.5%;
}

.explain-button{
  display: inline-block;
  margin-left: calc(50% - 70px);
  width: 140px;
  border: none;
  color: white;
  font-size: 15px;
}

.lemm-button{
  margin-left: 20px;
  width: 140px;
  border: none;
  color: white;
  font-size: 15px;
}